.ToolbarWrap {
    height: 40px;
    background-color: white;
    display: flex;
    border: solid 0.5px rgb(200, 200, 200);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    font-size:12px;
    font-weight:700;
    color: #373c46;
    letter-spacing: -.3px;
    padding-left: 2px;
    max-height: 32.22px;
}

.ToolbarContent{
    margin: 5px 5px;
}

.ToolbarButton{
    display: flex;
    padding: 1px 2px 0;
    cursor: pointer;
}

.ToolbarImage{
    margin-right: 5px;
    height: 15px;
    object-fit: cover;
    margin-top:1px;
}

