.Wrap{
    z-index:20;
}

.DatePickTitle{
    font-size: 12px;
    color: rgb(144, 144, 144);
    text-align: left;
    font-weight:700;
    overflow:hidden;
    height:20px;
}


.DatePickerWrap {
    height: 25px;
    display: flex;
    width: 100%;
 }
  
.DatePickerWrap input {
  height: inherit;
  padding: 0 2px;
}

.xBtnWrap{
    position: relative;
    height: 30px;
}

.DatePickerWrap .BtnClear {
    display:block;
    position: absolute;
    top: -3px;
    right: 20px;
    width: 30px;
    height: 30px;
    height: inherit;
    background: url('../../assets/image/condition/xButton.png') center center no-repeat;
    background-size: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.4;
}


.DatePicker{
    height: 25px !important;
    width: 100% !important;
    text-align: left;
    font-size: 12px;
    color: rgb(96, 96, 96);
    background-color: transparent;
    user-select: none;
    border: 1px solid #d2deee;
    border-radius: 3px;
    outline: none;
}

.DatePickerGrid{
    height: 25px !important;
    width: 100% !important;
    text-align: left;
    font-size: 12px;
    color: rgb(96, 96, 96);
    background-color: transparent;
    user-select: none;
    border: none;
    outline: none;
}

.react-datepicker-popper {
    position: fixed !important;
}

.DatePicker:focus{
    box-shadow: 0 0 1px 1px #d1eaee;
}

.calenderWrapper {
    width: 152px !important;
    /* font-size: 14px !important; */
}

.calendarImgWrap{
    position: relative;
}

.calendarImg{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;  
    right: -2px;
    cursor:pointer;
    background: url('../../assets/image/calendar.png') center center no-repeat;
    background-size: 60%;
    border-radius: 2px;
    border:none;
    outline: none;
    background-color: #8c8fb9;

}

.calendarImgGrid{
    width: 28px;
    height: 28px;
    position: absolute;
    top: -1px;  
    right: -5px;
    cursor:pointer;
    background: url('../../assets/image/calendar.png') center center no-repeat;
    background-size: 64%;
    border-radius: 2px;
    border:none;
    outline: none;
    background-color: #8c8fb9;
}