.Wrap{
    margin: 0 5px;
    z-index:20;
}

.DatePickTitle{
    font-size: 12px;
    color: rgb(144, 144, 144);
    text-align: left;
    font-weight:700;
    overflow:hidden;
    height:20px;
}


.DatePickerWrap {
    height: 25px;
    display: flex;
    
 }
  
.DatePickerWrap input {
  height: inherit;
}

.xBtnWrap{
    position: relative;
    height: 30px;
}

.DatePickerWrap .BtnClear {
    display:block;
    position: absolute;
    top: -3px;
    right: 0;
    width: 30px;
    height: 30px;
    height: inherit;
    background: url('../../assets/image/condition/xButton.png') center center no-repeat;
    background-size: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.4;
}


.DatePicker{
    height: 25px !important;
    width: 100% !important;
    text-align: left;
    font-size: 12px;
    color: rgb(96, 96, 96);
    background-color: transparent;
    user-select: none;
    border: 1px solid #d2deee;
    border-radius: 3px;
    outline: none;
}

.DatePicker:focus{
    box-shadow: 0 0 1px 1px #d1eaee;
}

.calenderWrapper {
    width: 152px !important;
    /* font-size: 14px !important; */
}

