.menuName:hover{
    /* background-color: #e7dfdf; */
    /* color: rgb(75, 110, 228) !important; */
    color: #f3df08 !important;
    cursor: pointer;
}

.linkMenu {
    text-decoration: none;
    color: black;
}

.sideBarNameWrap{
    display: flex;
    /* background-color: #d34e4e; */
    /* background-color: rgb(31, 60, 126); */
    background-color: #87010C;
    justify-content: space-between;
    cursor:pointer;
    line-height:23px;
    margin: 5px;
}

.SideBarName{
    height: 45px;
    /* background-color: #d34e4e; */
    /* background-color: rgb(31, 60, 126); */
    background-color: #87010C;
    line-height: 45px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.sideBarImage{
    width: 36px;
    height: 19px;
    margin: auto 0;
    padding-right: 10px;
}