.menuName:hover{
    background-color: #e7dfdf;
    cursor: pointer;
}

.linkMenu {
    text-decoration: none;
    color: black;
}

.sideBarNameWrap{
    display: flex;
    background-color: #d34e4e;
    justify-content: space-between;
    cursor:pointer;
    line-height:23px;
}

.SideBarName{
    height: 45px;
    background-color: #d34e4e;
    line-height: 45px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.sideBarImage{
    width: 36px;
    height: 19px;
    margin: auto 0;
    padding-right: 10px;
}