.SearchBoxWrap{
    margin: 3px 5px 3px 5px;
}

.SearchBoxBoxTitle{
    font-size: 12px;
    color: rgb(144, 144, 144);
    text-align: left;
    font-weight:700;
    overflow:hidden;
    height:20px;
}


.InputWrap {
    position: relative;
    height: 25px;
    display: inline-block;
 }
  
.InputWrap input {
  height: inherit;
}

.Input{
    height: 25px;
    text-align: left;
    padding-left: 5px;
    padding-right: 25px;
    font-size: 12px;
    color: rgb(104, 104, 104);
    background-color: rgb(255, 245, 245);
    user-select: none;
    border: 2px solid #d34e4e;
    border-radius: 3px;
    outline: none;
}

.Input:focus{
    box-shadow: 0 0 1px 1px #d1eaee;
}

.SearchWrap{
    position: absolute;
    z-index: 50;
    background-color: #d34e4e;
    /* border-radius: 8px; */
}

.SearchItem{
    margin: 2px auto;
    padding: 3px;
    width: calc(100% - 4px);
    background-color: white;
    font-size: 10px;
    cursor: pointer;
    &:hover{
        background-color: rgb(255, 245, 245);
    }
}

.SearchImg {
    border-radius: 2px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px; 
    cursor: pointer; 
    filter: invert(49%) sepia(34%) saturate(7492%) hue-rotate(336deg) brightness(95%) contrast(74%);
}

.InputWrap .BtnClear {
    position: absolute;
    top: 0;
    right: 25px;
    width: 25px;
    height: 25px;
    background: url('../../assets/image/condition/xButton.png') center center no-repeat;
    background-size: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.4;
}