.SearchBoxWrap {
    margin: 3px 5px;
}

.SearchBoxBoxTitle {
    font-size: 12px;
    color: rgb(144, 144, 144);
    text-align: left;
    font-weight: 700;
    overflow: hidden;
    height: 20px;
}

.InputWrap {
    position: relative;
    height: 25px;
    display: inline-block;
}

.InputWrap input {
    height: inherit;
}

.Input {
    height: 25px;
    text-align: left;
    padding-left: 5px;
    padding-right: 25px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    background-color: transparent;
    user-select: none;
    border: 1px solid #d2deee;
    border-radius: 3px;
    outline: none;
}

.Input:focus {
    box-shadow: 0 0 1px 1px #d1eaee;
}

.SearchWrap {
    position: absolute;
    z-index: 50;
    border-spacing: 0px;
    border-collapse: separate;
    overflow: auto;
}

.SearchItem {
    padding: 6px 4px;
    background-color: #fff5f5;
    font-size: 12px;
    border-bottom: solid 1px #d2deee;
    border-left: 1px solid #d2deee;
    border-right: 1px solid #d2deee;
    text-overflow: ellipsis;
    box-shadow: 2px 2px 5px #d2deee;
    white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
    text-align: left;
}

.SearchItemNum{
    padding: 6px 4px;
    background-color: #adadad;
    color:white;
    font-size: 12px;
    border-bottom: solid 1px #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    text-overflow: ellipsis;
    text-align: center;
    box-shadow: 2px 2px 5px #adadad;
    font-weight: bold;
}

.tableTr {
    cursor: pointer;
}

.tableTr:hover {
    background-color: rgb(233, 220, 220);
}   

.SearchImg {
    border-radius: 2px;
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    cursor: pointer;
    background: url('../../assets/image/searchbox-white.png') center center no-repeat;
    background-size: 50%;
    border: none;
    outline: none;
    background-color: #8c8fb9;
}

.InputWrap .BtnClear {
    position: absolute;
    top: 0;
    right: 25px;
    width: 25px;
    height: 25px;
    background: url('../../assets/image/condition/xButton.png') center center no-repeat;
    background-size: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.4;
}

