@font-face {
    font-family: "SpoqaHanSansNeo-Medium";
    font-weight: normal;
    src: url("../../assets/font/SpoqaHanSansNeo-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    font-weight: normal;
    src: url("../../assets/font/SpoqaHanSansNeo-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SpoqaHanSansNeo-Bold";
    font-weight: normal;
    src: url("../../assets/font/SpoqaHanSansNeo-Bold.ttf") format("truetype");
  }
  
.NavBarContainer{
    height: 48px;
    /* background-color: brown; */
    background-color: white;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    font-size: 25px;
    line-height:48px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 3px 1px rgb(236, 235, 235);

    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
  
    overflow: hidden;   /* ✅ 삐져나오는 걸 잘라서 전체 축소 방지 */
}

.LogoClick{
    color: white;
    text-decoration-line: none;
}

.NavBarLeft{
    display: flex;
    cursor: pointer;
}

.MainTitle{
    height: 48px;
    line-height: 48px;
}
/* 
.NavBarItem{
    float: right;
    display: flex;
} */

.NavBarItem{
  display: flex;
  align-items: center;
  min-width: 0;       /* ✅ 중요: 내부 input이 있어도 줄어들 수 있게 */
}

.search{
    height: 48px;
    line-height: 40px;
    padding-right: 8px;
    min-width: 0;
}

.SearchInput{
    margin-top: 5px;
    width: 300px;
    height: 25px;
    vertical-align: middle;
    border-radius: 5px;
    border: solid 1px rgb(236, 235, 235);
    outline: none;
    padding: 1px 10px 1px 10px;
    background-color: rgb(247, 243, 243);
    box-shadow: 1px 1px 3px 1px rgb(236, 235, 235);
}

.ImageLogoWrap{
    line-height: 50px;
}

.ImageLogo{
    padding-right: 15px;
    width: 40px;
    object-fit: cover;
    box-sizing: content-box;
    margin: 5px 2px;
}

.ImageContainer{
    height: 48px;
    line-height: 50px;
    min-width:85px;
}



.ImageComponent{
    width: 20px;
    object-fit: cover;
    /* padding-right:15px; */
    margin: auto 10px;
    /* line-height: 48px; */
    cursor:pointer;
    box-sizing: content-box;
}


.settingWrap{
    color: black;
    font-size: 12px;
    /* background-color: rgb(31, 60, 126); */
    background-color: #87010C;
    width: 350px;
    max-width: calc(100vw - 20px);  /* ✅ 화면 밖으로 나가지 않게 */
    position:absolute;
    right: 10px;
    border-radius: 10px;
    padding: 0 15px 0 15px;
    box-shadow: 2px 2px 5px 2px #e3cccc;
    box-sizing: border-box;
    z-index: 999;
}

.settingTitle{
    width: 100%;
    text-align:center;
    margin: 15px 0;
    padding-bottom: 35px;
    /* border-bottom: solid 2px rgb(75, 110, 228); */
    border-bottom: solid 1px #ff0217;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px; /* 모든 항목 사이에 균일한 간격 */    
}

.settingContents{
    width: 100%;
}

.userInfoManageWrap, .passwordManageWrap{
    /* border-bottom: solid 1px rgb(75, 110, 228); */
    border-bottom: solid 1px #ff0217;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.userInfoManage, .passwordManage{
    cursor: pointer;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
}
   
.ImageUserInfo, .ImagePassword{
    width: 20px;
    margin: auto 0px;
}

.contentsLeft{
    display:flex;
}

.userInfoContents{
    height: 100%;
}

.userInfoText, .passwordText{
    margin-left: 5px;
    color: white;
}

.inputHeight{
    height: 100%;
}

.InputContents {
    height: 40px;
    width: 100%;
    text-align: left;
    padding-left: 5px;
    padding-right: 25px;
    font-size: 12px;
    color: rgb(12, 10, 10);
    background-color: white;
    user-select: none;
    border: 1px solid #d2deee;
    border-radius: 3px;
    outline: none;
}

.OkWrap{
    display: flex;
    margin: 2px 15px;
    cursor:pointer;
    padding: 0 10px;
}

.OkWrap:hover{
    color: rgb(75, 110, 228);
}

.InputContents:focus{
    box-shadow: 0 0 1px 1px #d1eaee;
}

.inputCheck{
    width: 100%;
    display: flex;
    justify-content: center;
}

.CheckButton{
    width: 15px;
    margin-top: 0px;
}

.inputOk, .inputCancel{
    margin: 0px 10px 0 15px;
    color: white;
}

.inputOk:hover, .inputCancel:hover{
    color: rgb(75, 110, 228);
}

.passwordManage{
    cursor: pointer;
}

.UserInfo{
    font-size: 12px;
}

.ID{
    font-size: 20px;
}

.TelNo, .Email{
    height: 18px;
    font-size: 12px;
    color: white;
    font-weight: 500;
}


.SearchWrap {
    position: absolute;
    top: 40px; /* 검색창 바로 아래에 위치 */
    width: 300px;
    overflow-y: auto; /* 400px 넘을 경우 스크롤 생기도록 설정 */
    max-height: 400px; /* 최대 높이 설정 */
    background-color: white; /* 배경색 설정 */
    border: 1px solid #ccc; /* 경계선 설정 */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
}

.SearchItem {
    padding: 0px 5px;
    cursor: pointer;
    height: 30px;
    line-height:30px;
    color:black;
    font-weight: 1;
    font-size: 14px;
    border-bottom: 1px solid #eee; /* 각 항목 구분선 */
}

.SearchItem:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

.SearchWrap::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.SearchWrap::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.SearchWrap::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #848484;
  
}


.alarmWrap{
    position: absolute;
    z-index: 100;
    color: black;
    font-size: 12px;
    /* background-color: rgb(235,238,247); */
    background-color: rgb(31, 60, 126);
    box-shadow: 2px 2px 5px 2px #e3cccc;
    box-sizing: border-box;
    border-radius: 10px;
    right : 10px;
    width: 350px;
    max-width: calc(100vw - 20px);  /* ✅ 화면 밖으로 나가지 않게 */
    height: 400px;
    padding: 0 3px;
}

.alarmWrap > div{
    line-height: normal;
}

.alarmContentWrap{
    margin: auto;
    margin-top: 50px;
    height: 80%;
    overflow-y: auto;
    width: 100%;
}

.alarmContent:nth-child(1){
    margin-top : 0px !important;
}

.alarmContentWrap::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;  
}

.alarmContentWrap::-webkit-scrollbar
{
  width: 12px;
  /* background-color: #F5F5F5; */
  margin-right: 10px;
}

.alarmContentWrap::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(47,125,237);
}

.alarmText{
    font-size: 16px;
    padding: 15px 0px 0px 15px;
    position:fixed;
    font-family: "SpoqaHanSansNeo-Bold" !important;
    color: white;
}

.alarmbtnWrap{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    padding-bottom: 10px;
}

.alarmContent{
    margin: 10px 15px;
    /* background-color: #ffffff; */
    background-color:rgb(20, 76, 151);
    border-radius: 5px;
    border: solid 0.1px rgb(8, 89, 229);
}

.alarmContent:hover{
    background-color: rgb(67, 67, 192);
    border: solid 0.1px rgb(43, 73, 112);
}

.Text1{
    font-size: 16px;
    padding: 10px 10px 3px 10px;
    font-family: "SpoqaHanSansNeo-Bold" !important;
}
.Text2{
    font-size: 12px;
    padding: 3px 10px;
    font-family: "SpoqaHanSansNeo-Regular" !important;
}
.Text3{
    font-size: 12px;
    padding: 10px 10px 20px 10px;
    font-family: "SpoqaHanSansNeo-Regular" !important;
}

.Text1, .Text2, .Text3{
    color: white;
    /* color:rgb(185,198, 210); */
}

.alarmBtn{
    /* border-top: 0.1px solid plum; */
    cursor: pointer;
    /* color:rgb(53,0,255); */
    color: white;
    width:50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-family: "SpoqaHanSansNeo-Bold" !important;
    background-color: rgb(0, 105, 255);
    border-radius: 5px;
}

.alarmBtn:nth-child(1){
    /* border-right: 0.1px solid plum; */
    margin-right: 10px;
}

.alarmBtn:hover{
    background-color: rgb(47,125,237);
}

.alarmImage{
    width: 11px;
}

.alarmAllCheck{
    cursor: pointer;
    font-size: 15px;
    position: fixed;
    right: 50px;
    top: 75px;
    color: rgb(140, 140, 140);
}

.alarmCnt{
    cursor: pointer;
    position: fixed;
    top: 9px;
    right: 86px;
    background-color: rgb(255,70,0);
    font-size: 10px;
    color: white;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 7.5px;
}

/* 프로필이미지 */
.Profile{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 768px){
  .SearchInput{
    width: 40vw;           /* ✅ 화면에 맞춰 줄어듦 */
    min-width: 120px;      /* 너무 작아지지 않게 */
    max-width: 180px;      /* 너무 커지지 않게 */
  }

  .ImageContainer{
    min-width: 64px; /* ✅ 조금 줄임 */
  }
  .ImageComponent{
    margin: auto 6px; /* ✅ 아이콘 간격 줄임 */
  }
}