.LoginContainer{
    width: 100vw;
    height: 100vh;
    /* 설정 */
    position: relative;
    background-color: rgb(237, 238, 239);
}

 
.LoginWrap {
  width: 972px;
  height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 2px solid white;
  display: flex;
  background-color: white;
  box-shadow: 5px 4px 20px #0000000d;
}


.LoginLeft{
    width: 55%;
    background-color: black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow:hidden;
}

.LoginLeftTop{
    display:flex;
}


/* 우리 로고 위치 */
.OurLogo{
    padding-left: 15px;
    padding-top: 15px;
    width: 27px;
    object-fit: cover;
}

.OurName{
    padding-left: 25px;
    padding-top: 30px;
    font-size: 25px;
    font-weight:bold;
    color: white;
}

.LoginPicture{
    /* width: 100%;
    object-fit: cover;
    position: relative;
    bottom: 31px;
    border-bottom-left-radius: 30px; */
    height: 100%;
    opacity: 0.9;
}

.LoginLeftBottom{
    color: white;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 62px;
    font-weight:bold;
    
}

.LoginRight{
    width: 45%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.LoginRightWrap{
    position: relative;
    top: 18%;
}

.EYLogoWrap{
    position: relative;
    left: 35%;
}

.EYLogo{
    width: 130px;
    height: 130px;
    opacity: 1.2;
}   

.LoginInputWrap{
    position: relative;
    left: 14%;
    padding-top: 60px;
}

.LoginInputWrapChange{
    position: relative;
    left: 14%;
    padding-top: 30px;
}

.LoginInput{
    width: 322px;
    height: 50px;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid #dedede;
    
    padding: 1px 10px;
    margin-bottom: 10px;
    font-family: "SpoqaHanSansNeo-Medium" !important;
}

.LoginInputWrap input:focus, .LoginInputWrapChange input:focus{
    border-color: #8f8f8f;
    outline: none;
}

input::placeholder  {
    opacity:0.6;
}

.LoginBtn{
    width: 322px;
    background-color:rgb(20, 36, 77);
    height: 60px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.loginAlert{
    color: red;
    padding-left: 3px;
    font-size:14px;
}

.initPassword{
    padding-top: 5px;
    padding-left: 105px;
    text-decoration: underline;
    cursor: pointer;
}

.copyright{
    color: rgb(206, 206, 206);
    font-size: 12px;
    /* padding-top: 20px; */
    position: relative;
    text-align: center;
    bottom: -30px;
}

.copyrightSub{
    color: rgb(206, 206, 206);
    font-size: 14px;
    padding-top: 20px;
    padding-left: 80px;
}
