@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  font-weight: normal;
  src: url("./assets/font/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: normal;
  src: url("./assets/font/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}

body{
  font-family: "SpoqaHanSansNeo-Medium";
  margin: 0;
}

input[type="text"]{
  font-family: "SpoqaHanSansNeo-Medium";
}

div{
  font-family: "SpoqaHanSansNeo-Regular";
}

button{
  font-family: "SpoqaHanSansNeo-Regular";
}