.MessageContainer{
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height:100vh;
    z-index: 99;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MessageWrap{
    z-index: 1000;
    width: 40%;
    height: 35%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.TitleWrap{
    text-align:center;
    margin: 20px 0 0 0;
    font-size: 25px;
    font-weight: 900;
}

.Message{
    margin: 20px 15px;
    height: 65%;
    justify-content : center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.Button{
    width: 60%;
    height: 40px;
    display :inline-block;
    border: none;
    cursor: pointer;
    background-color: rgb(243, 229, 229);
    border-radius: 5px;
}

.ButtonYesNo{
    width: 35%;
    height: 40px;
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: rgb(243, 229, 229);
    border-radius: 5px;
    margin: 0 10px;    
}

.Button:hover, .ButtonYesNo:hover{
    background-color: rgb(209, 190, 190);
}

.Message::-webkit-scrollbar {
    width: 10px;  /* 세로축 스크롤바 폭 너비 */

}

.Message::-webkit-scrollbar-thumb {
    background: #dbdad8; /* 스크롤바 막대 색상 */
    border-radius: 8px 8px 8px 8px;
}

.Message::-webkit-scrollbar-thumb:hover {
	background-color:#a0a0a5;
}

.Message::-webkit-scrollbar-track {
	background: #f3f0ec; /* 스크롤바 뒷 배경 색상 */
}
