.WholeContainer {
    padding: 2px 2px;
    overflow: auto;
    height: 100%;
}

.FileTableParentContainer{
    display: flex;
    flex-direction: column;
    height: calc(100% - 28px); 
}   

.FileTableContainer{
    height: calc(100% - 28px);
    /* overflow: auto;  */
    flex: 1; /* 나머지 공간을 차지하게 설정 */
    overflow-y: auto;
}

.FileTableHead{
    position:sticky;
    top: 0;
    border-top: 1px solid rgb(226, 213, 217);
    border-bottom: 1px solid rgb(190, 171, 177);
    border-collapse: collapse;
    background: white;
}

.InputContainer{
    height: 24px;
    /* border-bottom: solid 1px #e5e7eb; */
    display: flex;
    margin: 2px 0px;
    /* float: right; */
    display: flex;

}

.InputWrap{
    border: solid 1px rgb(200, 200, 200);
    border-radius: 3px;
    cursor: pointer;
    background: inherit;
    padding: 2px 15px; 
    width: 112px;
    display: flex;
}

.fileTitle{
    padding-left: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight:700;
}

.FileButton{
    border: none;
    background:inherit;
    font-weight: 700;
    color: rgb(131, 78, 95);
    cursor: pointer;
}

.InputWrap:hover {
    background: rgb(226, 213, 217);
    color: white;
}



.InputFileImg {
    width: 18px;
    height: 18px;
    line-height: calc(100% - 18px);
}



table{
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 4px 0px;
}

th, td {
    text-align: center;
}

td {
    border-bottom: 1px solid rgb(226, 213, 217);
    padding: 10px 0px;
}

tr:hover{
    background-color: rgb(248, 245, 246);
}


.FileCD{
    width: 10%;
}

.FileName{
    width: 30%;
    text-overflow: ellipsis;
}

.FileSource{
    width: 10%;
}

.FileVolume{
    width: 10%;
}

.FileDownload{
    width:10%;
}

.FileDelete{
    width:10%;
}

.DownloadBtn, .DeleteBtn{
    width: 80%;
    height: 100%;
    border-radius: 5px;
    border: solid 1px gray;
    background-color:inherit;
    cursor: pointer;
    padding: 5px 0px;
}

.DownloadBtn:hover, .DeleteBtn:hover{
    background-color: rgb(104, 79, 87);
    color: white;
}