.GridWrap{
    height: calc(100% - 20px);
}

.GridBtn{
    font-size: 12px;
    display: inline-block;
    border-radius: 3px;
    color: #373c46;
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    background-color: #f7f6f6;
    border: 1px solid #dadada;
    font-weight: 700;
    margin: 2px 1px;
    padding: 2px 6px 2px 4px;
    cursor: pointer;
}

.GridBtn:hover{
    background-color: #e6e3e3;
}

.GridStatus{
    display: flex;
}

.GridTitle {
    line-height: 30px;
    margin-left: 15px;
    padding-top: 2px;
    font-weight: bold;
}